<%- include("../partials/header") %>

<div class="container">
    <div class="card" style="margin-top: 10px;">
        <div class="card-body">
            <h5 class="card-title d-inline"><%= cohort.name %></h5>
            <p class="card-text"><%= cohort.members %></p>
            <hr style="display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;">
            <form action="" method="get">
                <label for="method">Method</label>
                <div id="method" style="margin-bottom: 10px;">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="method" id="teamCount" value="teamCount" checked>
                        <label class="form-check-label" for="teamCount">
                            Team Count
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="method" id="numberPerTeam" value="numberPerTeam">
                        <label class="form-check-label" for="numberPerTeam">
                            Number per team
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="qtt">Quantity</label>
                    <input type="number" class="form-control" name="qtt" id="qtt" placeholder="Qtt.">
                </div>
                <button type="submit" class="btn btn-outline-primary btn-block">Assign Teams</button>
            </form>
            <% if (typeof teams !== "undefined" && teams.length !== 0) { %>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%;">#</th>
                        <th scope="col" style="width: 90%;">Members</th>
                    </tr>
                </thead>
                <tbody>
                    <% teams.forEach(function (t, idx) { %>
                    <tr>
                        <th scope="row"><%= idx + 1 %></td>
                        <td><%= t.join(", ") %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <% } %>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
